{% extends "base.html" %}
{% block title %}Select Languages{% endblock %}

{% block content %}
<link style="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/language_select.css') }}">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h2 class="mb-4">Select Language</h2>
            <div id="language-buttons">
                {% for language in languages %}
                    <button class="btn btn-primary btn-lg mb-3 language-button" onclick="selectLanguage('{{ language }}')">{{ language }}</button>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script>
    // Function to handle language selection
    function selectLanguage(language) {
        // Store the selected language in the session
        fetch('/save-language', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ language: language })
        })
        .then(response => {
            if (response.ok) {
                // Redirect to the next menu
                window.location.href = '/menu';
            } else {
                console.error('Failed to save language:', response.statusText);
            }
        })
        .catch(error => console.error('Error saving language:', error));
    }
</script>
{% endblock %}
