/* base.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #ff4b2b, #ff416c);
    height: 100vh;

}

.container {
    max-width: 800px;
    margin: 0;
}

.logo {
    width: 150px;
}

.logout {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    text-decoration: none;
    font-size: 20px;

}

.logout:hover {
    color: #f0f0f0;

}