/* login.css */

.login-body {
    background: linear-gradient(to bottom right, #ff4b2b, #ff416c);
    padding-top: 100px;
    height: 100vh;
    align-items: center;
    justify-content: center;
}



.bg-white {
    background-color: #fff;
}

.rounded {
}

.shadow-lg {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}


.form-label {
    font-weight: bold;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.logo {
    width: 70%;
}
.logout {
    display: none;
}
