/* login.css */

.login-body {
    background: linear-gradient(to bottom right, #ff4b2b, #ff416c);
    padding-top: 40px;
    height: 100vh; /* Full height */
    align-items: center;
    justify-content: center;
}



.bg-white {
    background-color: #fff; /* White background for the login box */
}

.rounded {
    border-radius: 10px; /* Rounded corners */
}

.shadow-lg {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Box shadow */
}


.form-label {
    font-weight: bold; /* Bold font for form labels */
}

.btn-primary {
    background-color: #007bff; /* Primary button color */
    border-color: #007bff; /* Button border color */
}

.btn-primary:hover {
    background-color: #0056b3; /* Button color on hover */
    border-color: #0056b3; /* Border color on hover */
}
