.swipe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 300px;
    height: 420px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-top: 20px;
    overflow: hidden; /* Ensure content doesn't overflow */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
}
.card-body {
    overflow-y: auto;

}

.card-content {
    text-align: center; /* Center text within card */
}

.profile-photo img {
    width: 100px; /* Adjust size as needed */
    height: 100px; /* Adjust size as needed */
    border-radius: 50%; /* Make it a circle */
    object-fit: cover;
}

.empty-card-message {
    text-align: center; /* Center text within card */
}
.card-footer {
    width: 100%;
}

